<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  <h2>Do you want to build websites like this?</h2>
  <br>
  <div class="center">
	  Learn Ruby on Rails from
	  <h4>
	  	<a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em> book</a>.
	  </h4>
  </div>
</p>