<footer class="footer">
  <small>
    The <a href="https://github.com/APwhitehat/Uniblog">UniBlog</a>
    by <a href="#">Anant Prakash</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://pclub.in/">News</a></li>
    </ul>
  </nav>
</footer>